<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>고려대학교 산업경영공학부 25학번</p>
                    <p>2005년생 여자</p>
                    <p>현역 3등급에서 반수 고정 1등급까지</p>
                    <p>2025 9월 평가원 원점수 98 백분위 99</p>
                    <p>2025 수능 원점수 97 백분위 99</p>
                    <p>1학기를 다니고 반수를 했기 때문에 6월 평가원은 응시하지 못했습니다.</p>
                    <p>평가원뿐만 아니라 2025학년도 응시한 모든 사설 모의고사 1등급입니다.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">문의하기</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">게시글</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>